# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Node
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Large ML model files
*.h5
*.keras
*.pt
*.pth